
// COLOR LIST ******************************************************************
$colorBlack1: rgb(0,0,0);
$colorBlue1 : rgb(51,103,214);
$colorWhite1: rgb(255,255,255);
$colorLightGrey1: rgb(245,245,245);
$colorGrey1 : rgb(203,203,203);
$colorDarkGrey1: rgb(93,93,93);
$colorViolet1: rgb(185,54,178);

$colorBgGrey1: rgb(230,230,230);
//******************************************************************************
