@import "common";
@import "colors";


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}



.container{
  .content{
    @include content-style;
    margin-top: 95px;
  }
}

/* MENU INLINE STILE 1 ***********************/
.menu-inline-1{
  @include menu-inline-1;
}

.menu-inline-1 li:hover{
  @include hover-standard-style3
}
/* /MENU INLINE STILE 1 ***********************/

/* MAIN TOP *******************************************************************/

.main-top{
  position: fixed;
  display: flex;
  top:0;
  left: 0px;
  width: 100%;
  min-width: 1200px;
  height: 95px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 100;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  border-bottom: 1px solid $colorGrey1;
}

.main-menu {
  .logoPageName{
    display: block;
    color: $colorDarkGrey1;
    font-size: 22px;
    // font-weight: bold;
    cursor: pointer;
    margin-bottom: 0px;

    img{
      height: 30px;
      vertical-align: middle;
      margin-right: 5px;

    }
  }
}

/* /MAIN TOP *******************************************************************/


// FOOTER BOTTOM ***************************************************************
// .footer-bottom{
//   @include content-style;
//   height: 100%;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//
//   &-logo{
//     display: inline-block;
//
//     img{
//       width: 75px;
//       vertical-align: middle;
//       margin-right: 45px;
//     }
//   }
//
//   &-copyright{
//     font-size: 12px;
//     color: grey;
//   }
//
//   &-links{
//     li{
//       @include  menu-inline-li-light-style-1;
//       font-size: 12px;
//
//       .bullet{
//         color: grey;
//         font-weight: bold;
//         margin-right: 5px;
//       }
//     }
//
//     li:hover{
//       @include hover-standard-style1;
//     }
//   }
// }


// /FOOTER BOTTOM **************************************************************
